<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
    <div class="field is-horizontal">
        <div class="field-body">

            <div class="field">
                <p class="control">
                    <input required [ngModel]="item.amount"  placeholder="Montant" name="amount" type="number" class="input"  style="width: 100px">
                </p>
            </div>

           <div class="field">
                <p class="control">
                    <input required [ngModel]="item.description" placeholder="Description" name="description" type="text" class="input"  >
                </p>
            </div>

            <div class="field is-narrow">
                <button [disabled]="!itemForm.valid" [ngClass]="{ 'is-primary': isNewItem, 'is-success': !isNewItem }"  class="button is-primary" type="submit">
                    <div *ngIf="isNewItem"> Ajouter </div>
                    <div *ngIf="!isNewItem">Sauver </div>
                </button>
            </div>

        </div>
    </div>
</form>